@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.hide_cursor {
  cursor: none;
}

.tool {
  transition: width 0.2s ease-in, height 0.2s ease-in;
}

.hover-tool {
  /*width: 2.5rem;
  height: 2.5rem;*/
}

.hover-button:hover {
  transition: background-color 0.15s normal;
  background-color: rgb(117, 117, 117);
}

.rainbow-text {
  background-image: linear-gradient(
    to right,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.teste {
  animation: showup 1s both;
}

/* Input checking */
/* Dps ajeitar os nomes das classes */
.warning_input {
  animation: warning 1.5s linear;
}

.error_input {
  outline: yellow;
  animation: shake 1s ease-in-out;
}

.message-error {
  animation: text-error 1s normal ease-in-out;
}

/** Animations **/
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  5% {
    border: solid 3px red;
  }
  20% {
    transform: translateX(-12px);
  }
  40% {
    transform: translateX(12px);
  }
  60% {
    transform: translateX(-12px);
  }
  80% {
    transform: translateX(12px);
  }
  90% {
    border: solid 3px red;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes text-error {
  0% {
    color: red;
  }
  100% {color: red}
}

@keyframes warning {
  25% {
    border-color: rgb(255, 230, 0);
  }

  60% {
    border-color: #e5e7eb;
  }

  85% {
    border-color: rgb(255, 230, 0);
  }
}

@keyframes showup {
  from {
    flex: 0;
  }
  to {
    flex: 1 0 45%;
  }
}

/** Queries **/
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
