@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.hide_cursor {
  cursor: none;
}

.tool {
  transition: width 0.2s ease-in, height 0.2s ease-in;
}

.hover-tool {
  width: 2.5rem;
  height: 2.5rem;
}

.hover-button:hover {
  transition: background-color 0.15s normal;
  background-color: rgb(117, 117, 117);
}

.rainbow-text {
  background-image: linear-gradient(to right, 
    violet, indigo, blue, green, yellow, orange, red);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.teste {
  animation: showup 1s both;
}

@keyframes showup {
  from {
    flex: 0;
  } to {
    flex:1 0 45%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
